@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* font-family: 'Roboto', sans-serif; */

/* body,
html {
    overflow-x: hidden;
} */
/* body,html{
    width: 100%;
} */
:root {
    --themcolor: #000000;
    --themcolor2: #ff0000;
    --othercolor: #dddddd;
    --whitecolor: #ffffff;
    --parafont: 'Roboto', sans-serif;
    --headingfont: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    font-weight: normal;
    font-style: normal;
    color: #000;
    font-size: 17px;
    line-height: 1.5;
    background-color: #fff;
}

.caveat {
    font-family: "Indie Flower", cursive;
    font-weight: 500;
    font-style: normal;
  }

b,
strong {
    font-weight: 700;
}

p {
    margin: 0 0 22px 0;
    font-size: 18px;
}

p:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headingfont);
    margin: 0 0 25px 0;
    padding: 0;
    color: #000;
    font-weight: 700;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
    margin-bottom: 0;
}



h1, .h1-title{
    font-weight: 700;
    font-size: 120px;
    line-height: 1;
}

h2 , .h2-title{
    font-weight: 700;
    font-size: 70px;
    line-height: 1;
}

h3 , .h3-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 1;
}

h4 , .h4-title {
    font-size: 24px;
    line-height: 1.2;
   
}

h5 , .h5-title {
    font-size: 20px;
    line-height: 1.2;
   
}


.white-txt{
    color: var(--whitecolor);
}

a {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-decoration: none !important;
    outline: none !important;
    color: #ecb61e;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: red;
}

img {
    max-width: 100%;
}


ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
select {
    background-color: transparent;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    color: #000;
    border: 1px solid rgba(255, 255, 255, 0.7);
    height: 58px;
    padding: 0 16px;
    outline: none !important;
}

textarea {
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 12px 16px;
    width: 100%;
    color: #000;
    height: 158px;
    outline: none !important;
}

select {
    border: 1px solid rgba(255, 255, 255, 0.7);
    width: 100%;
    padding: 0 11px;
    background: url(images/sort-down.svg) no-repeat calc(100% - 16px) center transparent;
    background-size: 18px;
    padding-right: 40px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

input[type="submit"] {
    background: #eab71e;
    color: #000000;
    height: 58px;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    padding-left: 30px;
    padding-right: 30px;

    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    outline: none !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background: #000;
    color: #eab71e;
}

 ::-webkit-input-placeholder {
    opacity: 0.7;
    color: #000;
}

 :-ms-input-placeholder {
    opacity: 0.7;
    color: #000;
}

 ::-moz-placeholder {
    opacity: 0.7;
    color: #000;
}

 :-moz-placeholder {
    opacity: 0.7;
    color: #000;
}
.cmn-gap {
    padding: 80px 0;
}







/* images alignment for wordpress content pages */
.alignright {
    float: right;
    margin: 0 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 0 20px 20px 0;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    float: none;
    clear: both;
}



/* custom checkbox */

.form_input_check label {
    position: relative;
    margin: 0;
    padding-left: 40px;
    display: inline-block;
}

.form_input_check label span {
    margin: 0;
    padding: 0;
}

.form_input_check label input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.form_input_check label input[type="checkbox"]+span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 22px;
    height: 22px;
    border: 1px solid #3E3E42;
    background: transparent;
}

.form_input_check label input[type="checkbox"]+span::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 22px;
    height: 22px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: url(images/tick.svg) no-repeat center center;
    background-size: 15px;
}

.form_input_check label input[type="checkbox"]:not(:checked)+span::after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}


/* .form_input_check input[type="checkbox"]:checked + span::before {
      
    } */

.form_input_check label input[type="checkbox"]:checked+span:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}



/* custom radio */

.form_input_radio label {
    position: relative;
    margin: 0;
    padding-left: 30px;
    display: inline-block;
}

.form_input_radio label span {
    margin: 0;
    padding: 0;
}

.form_input_radio label input[type="radio"] {
    visibility: hidden;
    display: none;
}

.form_input_radio label input[type="radio"]+span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 22px;
    height: 22px;
    border: 2px solid #000000;
    border-radius: 100%;
    background: #fff;
}

.form_input_radio label input[type="radio"]+span::after {
    content: '';
    width: 12px;
    height: 12px;
    background: #4b0049;
    position: absolute;
    top: 6px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.form_input_radio label input[type="radio"]:not(:checked)+span::after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}


/* .form_input_radio input[type="radio"]:checked + span::before {
      
    } */

.form_input_radio label input[type="radio"]:checked+span:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/* custom radio end */

/* back to top */

#scroll {
    position:fixed;
    right:20px;
    bottom:20px;
    cursor:pointer;
    width:55px;
    height:55px;
    background-color:#bdd653;
    display:none;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    line-height: 68px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
z-index: 9;
}
#scroll:hover{
    background: #88a725;
}
#scroll i{
    color: #fff;
    font-size: 44px;
    -webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
-webkit-transform: translateY(0);
transform: translateY(0);
}

#scroll:hover i{
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
-webkit-transform: translateY(-6px);
transform: translateY(-6px);
}




/* navbar*/

.navbar-brand {
    padding: 0;
    margin: 0;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
}

.navbar {
    background: none;
    margin: 0;
    padding: 0;
    min-height: inherit;
    height: inherit;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

.navbar-nav li {
    position: relative;
    list-style: none;
}

.navbar-nav>li {
    margin: 0 15px;
    padding: 20px 0;
    position: relative;
}

.navbar-nav>li:last-child {
    margin-right: 0;
}

.navbar-nav>li:first-child {
    margin-left: 0;
}

.navbar-nav>li>a {
    color: #000;
    font-size: 16px;
    line-height: 1.2;
    position: relative;
    font-weight: normal;
}

.navbar-nav>li>a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #3B61DC;
    /* opacity: 0; */
    position: absolute;
    bottom: -10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar-nav>li.current-menu-item>a,
.navbar-nav>li>a:hover,
.navbar-nav>li.menu-item-has-children:hover>a {
    color: #3B61DC;
}

.navbar-nav>li.current-menu-item>a:after,
.navbar-nav>li>a:hover:after,
.navbar-nav>li.menu-item-has-children:hover>a:after {
    width: 100%;
}


/* navbar submenu*/

.sub-menu {
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    width: 140px;
    padding: 0;
}

.sub-menu>li>a {
    color: #000;
    display: block;
    width: 100%;
    padding: 6px 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
}

.sub-menu>li {
    width: 100%;
    display: block;
}

.sub-menu>li>a:hover,
.sub-menu>li.menu-item-has-children:hover>a,
.sub-menu>li.current-menu-item>a {
    background: #eab71e;
    color: #fff;
}



.navbar-nav>li:last-child>.sub-menu {
    right: 0;
    left: inherit;
    padding: 0;
}

/* 2nd level submenu */
.navbar-nav>li>.sub-menu .sub-menu {
    position: absolute;
    left: 100%;
    top: 0;
}


/* for push-menu */
.navbar-collapse .navbar-toggler{
    display: none;
}
#navoverlay{
       display: block;
       pointer-events: none;
       position: fixed;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       background: transparent;
       margin: 0;
       padding: 0;
       z-index: 99;
       -webkit-transition: background-color 0.5s linear;
        transition: background-color 0.5s linear;
}
/* for push-menu end*/
/* Supratim CSS  */
.cmn-width{
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 0 20px;
}
.common-padding{
    padding: 0 60px;
}
.main-head{
    display: none;
}
.common-sec-height{
    position: relative;
    /* min-height: 100vh; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.banner-txt{
    background-color: var(--themcolor);
}
.banner-txt h1{
    color: var(--whitecolor);
    position: relative;
    z-index: 1;
}

.inr-img-wpr{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 110vh;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.iphone-img{
    width: 100%;
    height: 500px;
}

/* .side-txt-wpr p{
    color: var(--whitecolor);
    font-size: 40px;
    max-width: 700px;
} */
.left-txt{
    justify-content: flex-start;
}
.side-txt-wpr{
    max-width: 800px;
    padding-left: 60px;
}
.fnt-size{
    font-size: 45px;
    line-height: 1.5;
    margin-bottom: 60px;
}
.txt-size{
    font-size: 30px;
}

.first-slider-wrapper, .second-slider-wrapper{
    width: 100vw;
    /* overflow-x: hidden; */
    /* padding: 0; */
}
.slide-column{
    width: 100vw;
    padding: 0;
}
/* Supratim CSS Ends  */

/* CHANDAN"S CSS  */
.title-text{
    font-size: 4em;
}
.panel{
    overflow: hidden;
}

.far-earth-2{
    position: absolute;
    scale: 0;
    /* left: 37.33%;
    top: 9.35%; */
    opacity: 0.5;
    left: 37.25%;
    top: 22%;
    /* transform: translateY(-150%); */
}
.small-para{
    font-size: 20px;
}

.medium-para{
    font-size: 24px;
}
.medium-para-caveat{
    font-size: 2vw;
    line-height: 1.25;
}

.bnr-cmn-txt {
    background-color: rgb(240, 248, 255);
}

.panel:nth-of-type(){
    /* position: absolute; */
    z-index: 3;
}
.poem{
    font-size: 2em;
    /* transform: translateY(300px); */
    /* transition: transform .5s; */
}

.sun-gif{
    background-color: #000;
    background-size: contain;

}

.left-text-position{
    font-size: 2em;
    position: absolute;
    width: 30%;
    text-align: justify;
    left: 200px;
    bottom: 20%;
}
.lika-image{
    filter: grayscale(.5);
    border-radius: 10px;
}
.lika-text{
    text-align: left;
}
/* END */

html.lenis {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }


  .first-slider-wrapper {
    overflow-x: hidden;
  }

  .first-slider-row {
    display: flex;
    width: 400%;
    flex-direction: row;
  }

  .slider-section{
    position: relative;
    height: 100vh;
    width:100vw;
    overflow-x: hidden;
  }

  .slider-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    width: 400%;
  }


  .slide{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    place-content: center;
 }

.sp-img{
    background-image: url(images/img5.jpg);
}

.social-link{
    font-size: 2em;
    margin-right: 20px;
    color: #ff0000;
}

/* dev 2 */
.navbar{position: fixed; top: 0; left: 0; width: 100%; height: auto; padding: 15px 50px; background: rgba(0, 0, 0, 0.5); z-index: 99999;}
.brand{font-size: 30px; margin: 0; color: #fff;}
.brand:hover{color: #fff;}
/* Icon 1 */

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 30px;
  height: 35px;
  position: relative;
  margin: 0px 0 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 9999;
  
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 7px;
}

#nav-icon1 span:nth-child(2) {
  top: 17px;
}

#nav-icon1 span:nth-child(3) {
  top: 27px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#nav-icon1:hover span{background: rgba(255, 255, 255, 1);}

#menu{position: fixed; top: -150vh; left: 0; width: 100%; height: 100vh;background: rgba(0, 0, 0, 0.9); display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 999; transition: 0.6s}
#menu.open{top: 0;}
#menu ul{list-style: none; padding: 0}
#menu ul li a{position: relative; font-size: 60px; margin: 10px 0; color: #fff;}
#menu ul li a:hover{color: #fff;}
#menu ul li a:after{content: ''; position: absolute; left: 0; bottom: 0; width: 0%; height: 2px; background: #fff; transition: 0.4s;}
#menu ul li a:hover:after{width: 100%}
.social-media{position: absolute; top: 50%; left: 50px; z-index: 999; width: 50px; transform: translateY(-50%);}
.social-media a{display: block; margin-bottom: 15px;}
.social-media a:hover{rotate: 360deg;}
@media(max-width:1199px) {
    .navbar {padding: 15px 30px;}
}
@media(max-width:991px) {
    .brand {font-size: 25px;}
    .social-media {top: 50%;left: 50px;transform: translateY(-50%);}
}
@media(max-width:767px) {
    .brand {font-size: 22px;}
    .navbar {padding: 10px 15px;}
    #nav-icon1 span:nth-child(1) {top: 3px;}
    #nav-icon1 span:nth-child(2) {top: 13px;}
    #nav-icon1 span:nth-child(3) {top: 23px;}
    #menu ul li a {font-size: 40px;}
    .social-media a img {width: 25px;}
    .social-media {top: 50%;left: 30px;transform: translateY(-50%);}
}